@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0B0B0B;
    padding: 0;
    margin: 0;
    color: #F2ECFF;
}



/*Menu*/
nav{
    padding: 20px 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #0B0B0B;
}
nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    
}
nav ul li{
    margin: 0 20px;
    color: #1c1c1c;
}
nav ul li:first-child{
    margin-right: auto;
    margin-left: 20px;
    color:#00C896;
}
nav ul li a{
    color: #3b3b3b;
    text-decoration: none;
   
    transition: all ease-in 600ms;
}

a:hover {
    color: #F2ECFF;
}


/*articles*/

#articles{
    margin: 0 25px;
}
#articles h3{
    color: #00C896;
    margin:0;
}
#articles a{
    color: #99f1db;
}
#articles ul li{
    margin: 5px 0;
}

.content{
    margin: 50px 25px;
}
.content h3{
    color: #00C896;
    margin: 0;
}
.content a{
    color: #99f1db;
}
.content ul li{
    margin: 5px 0;
}


@media screen and (max-width:1030px){
    nav ul li{
        margin: 0 10px;
    }
    nav ul li:first-child{
        margin-left:5px;
    }
}
@media screen and (max-width:950px){
    body{
        font-size: 14px;
    }
}
@media screen and (max-width:760px){
    nav ul{
        padding: 5px;
    }
}
@media screen and (max-width:740px){
    nav ul{
        flex-direction: column;
    }
    nav ul li:first-child{
        margin: 0;
    }
}
@media screen and (max-width:270px){
    nav ul li{
        font-size: 13px;
    }
    
}