@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #0B0B0B;
    padding: 0;
    margin: 0;
    color: #F2ECFF;
}



/*Menu*/
nav{
    padding: 20px 0;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #0B0B0B;
}
nav ul{
    display: flex;
    justify-content: end;
    align-items: center;
    list-style: none;
    
}
nav ul li{
    margin: 0 20px;
    color: #1c1c1c;
}
nav ul li:first-child{
    margin-right: auto;
    margin-left: 20px;
    color:#00C896;
}
nav ul li a{
    color: #3b3b3b;
    text-decoration: none;
   
    transition: all ease-in 600ms;
}

a:hover {
    color: #F2ECFF;
}



/*~content*/

#content{
    padding: 50px 0;
}
#content h3{
    color: #00C896;
}
#content ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#content ul li{
    margin: 0 40px;
}

/*^contact*/


#contact{
    padding: 50px 0;
}
#contact h3{
    color: #00C896;
}
#contact ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
#contact ul li{
    margin: 0 40px;
}
#contact a{
    color: #00C896;
}


/*!resp*/


@media screen and (max-width:1110px){
    body{
        font-size: 15px;
    }
}
@media screen and (max-width:1060px){
    
    #person{
        width: 270px;
    }
    #location{
        width: 230px;
    }

}

@media screen and (max-width:1000px){
    nav ul li{
        margin: 0 10px;
    }
    nav ul li:first-child{
        margin-left:5px;
    }
}
@media screen and (max-width:950px){
    body{
        font-size: 14px;
    }
}
@media screen and (max-width:890px){
    #content ul li{
        margin: 0 20px;
    }
    nav ul{
        padding: 5px;
    }
}
@media screen and (max-width:830px){
    nav ul{
        flex-direction: column;
    }
    nav ul li:first-child{
        margin: 0;
    }
}
@media screen and (max-width:670px){
    #content ul{
        flex-direction: column;
    }
}
@media screen and (max-width:620px){
    #contact ul{
        flex-direction: column;
    }
    #contact ul li{
        margin: 20px 0;
    }
}
@media screen and (max-width:340px){
    #person{
        width: 190px;
    }
    #location{
        width: 190px;
    }
}